<table>
  <thead> 
    <tr>
      <th >Email</th>
      <th >Message</th>
      <th >SHA1</th>
      <th ></th>
    </tr>
  </thead>
  
  <tbody> 
    <% commits.each do |commit| %>
      <tr>
        <td><%= commit.email %></td>
        <td><%= commit.message %></td>
        <td><a href="<%= "http://github.com/#{ENV["GH_REPO"]}/commit/#{commit.sha1}" %>"><%= commit.formatted_sha1 %></a></td> 
        
        <% if commit.state == "verified" %>
          <td><%= link_to "Bad", fail_commit_path(commit), class: "js-commit-action" %></td>
        <% elsif commit.state == "failed" %>
          <td><%= link_to 'Verify', verify_commit_path(commit), class: "js-commit-action" %></td>
        <% else %>
          <td >
            <%= link_to 'Verify', verify_commit_path(commit), class: "js-commit-action" %>
            <%= link_to "Bad", fail_commit_path(commit), class: "js-commit-action" %>
          </td>
        <% end %> 
      </tr>
    <% end %>
  </tbody>
</table>
